* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro
{
    text-align:center;
    color:darkmagenta;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #f8f8f8;
    font-size: .99em;
    font-weight: 800;
}

div#container div.cell {
    display: table-cell;
}

input[type=search],
div.button {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

input[type=search] {
    margin: 0;
    padding: 0 10px;
    border: 0;
}

div.button {
    line-height: 35px;
    margin: 0;
    padding: 0 20px;
    color: #f8f8f8;
    background-color: #41B3FF;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 2px;
}

.defh2 {
    color: #f8f8f8;
    justify-content: space-around;
    align-items: center;
    font-size: 80%;
}

.header {
    padding-top: .5em;
    border: 1px solid #a2a2a2;
    background-image: radial-gradient(#05abf2, #1e66d9);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Poppins;
    color: #011640;
    overflow-x: hidden;
    background-color: #f8f8f8;
    font-weight: 800;
    background-image:url("images/cool.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}

h1 {
    font-size: 10rem;
    font-weight: 600;
    margin: 8rem 0 2rem 0;
}

h2 {
    margin-bottom: 5rem;
}

li {
    list-style: none;
}

a {
    color: #011640;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(#05abf2, #1e66d9);
}

.welcome-img {
    width: 580px;
    height: auto;
    border-radius: 10px;
}

#subheading {
    font-size: 5rem;
    font-weight: 600;
}

#subheading span {
    color: #ffff;
    font-size: 8rem;
}

#about h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 200%;
}

#about-container {
    margin-left: 50px;
    margin-right: 50px;
    padding-top:40px;
    padding-bottom:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(lightgreen,skyblue);
}

#my-story {
    width: 60%;
    padding: 0 2rem;
}

#interests-list {
    background-color: darkblue;
    color: #fff;
    padding: 3rem;
    border-radius: 5px;
    align-items: center;
}

.awardsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    border-radius: 10px;
    max-width: 1180px;
    margin-top: 89px;
}

#interests-list {
    margin: auto;
}

#interests-list>h3 {
    text-align: center;
    padding-bottom: 2rem;
}


/* Projects section */

#projects {
    padding: 5rem 3rem;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.how
{
    font-size:24px;
    font-weight:500;
    background:cornflowerblue;
}
.instructions
{
    padding:10px 5px;
    margin:10px;
    background:radial-gradient(orange,pink);

}
iframe {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: #f8f8f8;
    display: block;
    border-style: none;
    padding-bottom: 50px;
}

#contact {
    text-align: center;
    background-image: radial-gradient(#05abf2, #1e66d9);
    color: #fff;
}

.contact-icon {
    width: 2rem;
    padding: 1rem;
    filter: invert(100%);
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1rem;
}

.conn {
    color: white;
    font-size: 200%;
}

.find {
    font-size: 200%;
}
.addButton
{
    margin-top:250px;
    margin-left:500px;
}
.addButton
{
    margin-top:20px;
    margin-left:500px;
    width:100%;
}
.charityText
{
    margin-top:250px;
    margin-left:500px;

}
.search
{
    display:flex;
    justify-content:center;
    margin-top:250px;
}
.submit
{
    margin-top:20px;
    text-align:center;
}